@value colors: "../../assets/colors/colors.css";
@value --gray300 from colors;

.spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: --gray300;
  animation: loader-spin 1s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: center;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
