.layout {
  padding-top: 3.5rem;
}

@media only screen and (max-width: 575px) {
  .content-section {
    margin-left: 0 !important;
  }
}

.content-section {
  min-width: 575px;
  margin-left: 210px;
}
