@value colors: "../../assets/colors/colors.css";
@value --green500, --blue800 from colors;

nav.navbar {
  background-color: --blue800;
}

.network {
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  padding: 1rem 0;
  right: 0;
  top: 0;
  min-width: 148px;
  display: inline-block;
  width: 8%;
  color: --green500;
  text-align: center;
  line-height: 24px;
}

.network::before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  background-color: --green500;
  border-radius: 50%;
  margin-right: 6px;
}
