@value colors: "../../assets/colors/colors.css";
@value --green400, --blue800 from colors;

nav.navbar {
  background-color: --blue800;
}

.network {
  font-size: 13px;
  font-weight: 500;
  min-width: 148px;
  color: --green400;
  text-align: center;
  line-height: 24px;
}

.network::before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  background-color: --green400;
  border-radius: 50%;
  margin-right: 6px;
}

@media only screen and (min-width: 575px) {
  .sidebar-link {
    display: none;
  }
}
