@value colors: "../../assets/colors/colors.css";
@value --white, --gray100, --gray300, --gray500 from colors;

.sign-in-form-container a.nav-link {
  background-color: --gray100;
  border-bottom: 1px solid --gray300;
  border-radius: 0;
  font-weight: bold;
}

.sign-in-form-container li.nav-item {
  width: 50%;
  text-align: center;
  color: --gray500;
}
