@value colors: "../../assets/colors/colors.css";
@value --white, --gray100, --gray300, --gray500 from colors;

.nucleus-header-container {
  position: relative;
}

.nucleus-header::before {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}

.nucleus-header {
  background-image: url(../../assets/images/nucleus-bg.jpg);
  background-size: cover;
  background-position: top center;
}

.nucleus-header-title {
  position: relative;
  padding: 5rem 0;
  color: --white;
  margin: 0;
  font-size: 50px;
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sign-in-form-container a.nav-link {
  background-color: --gray100;
  border-bottom: 1px solid --gray300;
  border-radius: 0;
  font-weight: bold;
}

.sign-in-form-container li.nav-item {
  width: 50%;
  text-align: center;
  color: --gray500;
}
